/***************************************** 
                VARIABLES
******************************************/
:root{

    --myBlack: rgb(31, 30, 30);
    --myBlue: #0b79c2;
    --myGreen: rgb(10, 194, 10);
    --myWhite: rgb(164, 193, 231);
    --myGrey: rgb(155, 155, 154);
    --myYellow: #ffdc41;
    --myWhite2: rgb(245, 245, 245);
}

/***************************************** 
                Base
******************************************/
html{
    width: 100vw;
    height: 100vh;
}

body{
    background: #edeff0;
}

/******* Navigation ********/

.main-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    margin: 0;
    background: white;
    box-shadow: 0 0 5px #000;

}

.main-nav-ul a {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    padding: 0.625rem;
    border-radius: 4px;
    color: var(--myBlack);
}

.main-nav-ul a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--myBlack);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.main-nav-ul a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}



/* js added class */

.fixed-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    margin: 0;
    padding-left:0;
}


/***************************************** 
                LOG IN FORM
******************************************/

#main-form-div{
    display: grid;
}

#login-form-container{
    grid-column: 1/2;
    grid-row: 1/2;
    color: whitesmoke;
    padding: 0;
    margin: 1rem;
    border-radius: 20px;
    height: auto;
    font-family: monospace;
}

.log-in{
    background: rgba(3, 67, 139, 0.801);
    height: 450px;
    border-radius: 5px;
    border-top: 5px solid rgb(112, 112, 168);
}

.log-in h1{
    font-size: 1.75rem;
    margin: 0 0 1.25rem 0;
    padding: 0 1.25rem;
    border-radius: 0 0 4px 4px;
    background: rgb(112, 112, 168);
    align-self: center;
    letter-spacing: 2px;

}

.second-feild{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-feild label{
    font-size: 1rem;
    
}

.second-btn{
    margin-top: 2rem;
    align-self: center;
}

/***************************************** 
                SIGN UP FORM
******************************************/

#signup-form-container{
    background: rgba(243, 241, 241, 0.801); 
    padding:  0;
    margin: 1rem;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    height: 650px;
}

form h1{
    text-align: center;
    font-size: 2.75rem;
    letter-spacing: 5px;
}

.first-feild{
    align-self: center;
    padding: 0;
}

label{
    font-size: 1rem;
    letter-spacing: 3px;
    font-weight: 800;
}


.login-input,
.signup-input {
    display: block;
    padding: 0.625rem;
    margin-bottom: 2.625rem;
    border: 1px solid rgb(187, 184, 184);
}

input[placeholder='First Name']{
    margin-bottom: 0.625rem;
}

.first-btn{
    align-self: center;
}

#password{
    margin-bottom: 2rem;
}

button {
    padding: 0.5rem 4.625rem;
    font-size: 1rem;
    letter-spacing: 2px;
    
}

/***************************************** 
            Flickr Photos
******************************************/
.grid-container{
    display: grid;
    grid-gap: 0.625rem;

}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0.75rem;
    height: 250px;
    background: white;
    border-radius: 5px;
}

.top h1{
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
}

#flickr-form{
    display: flex;
    flex-direction: column;
    
}

#flickr-form input{
    margin: 1rem 0;
    border: 1px solid rgb(212, 209, 209);
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.1rem;
}



.flickr-label{
    align-self: center;
    font-weight: 100;
    letter-spacing: 1px;
}

#photos{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 0;
    margin: 1rem auto;
    width: 75%;

}

.flickr-thumbnail{
    list-style: none;
    width: 100%;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

#photos img{
    width: 100%;
    height: 100%;
}


/***************************************** 
            Media Queries
******************************************/
@media (min-width: 550px){
    #photos{
        grid-template-columns: 1fr 1fr;
    }
}
/* Landscape phones and up */
@media (min-width: 768px){

/***************************************** 
                LOG IN FORM
******************************************/

    #main-form-div{
        display: grid;
        height: auto;
        justify-content: center;
    }

    #login-form-container{
        display: grid;
        color: whitesmoke;
        padding: 3.65rem 1rem;
        justify-items: center;
    }

    .log-in{
        background: rgba(3, 67, 139, 0.801);
        height: 450px;
        width: 500px;
    }

    .log-in h1{
        font-size: 1.75rem;
        margin: 0 0 1.25rem 0;
        padding: 0 1.25rem;
        border-radius: 0 0 4px 4px;
        background: rgb(112, 112, 168);
        align-self: center;
        letter-spacing: 2px;

    }

    .second-feild{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .second-feild label{
        font-size: 1rem;
        
    }

    .second-btn{
        margin-top: 2rem;
        align-self: center;
    }

    /***************************************** 
                    SIGN UP FORM
    ******************************************/

    #signup-form-container{
        grid-column: 1/2;  
        background: rgba(243, 241, 241, 0.801); 
        border-radius: 20px;
        width: 500px;
        height: 650px;
        padding: 3.65rem 0;
        margin: 3.65rem;
    }

    form {
        display: flex;
        flex-direction: column;
        
    }

    form h1{
        text-align: center;
        font-size: 2.75rem;
        letter-spacing: 5px;
    }

    .first-feild{
        align-self: center;
        padding: 3.25rem 3.25rem 0;
    }

    label{
        font-size: 1rem;
        letter-spacing: 3px;
        font-weight: 800;
    }


    .login-input,
    .signup-input {
        display: block;
        padding: 0.625rem;
        margin-bottom: 2.625rem;
        border: 1px solid rgb(187, 184, 184);
    }

    input[placeholder='First Name']{
        margin-bottom: 0.625rem;
    }

    .first-btn{
        align-self: center;
    }

    #password{
        margin-bottom: 2rem;
    }

    button {
        padding: 0.5rem 4.625rem;
        font-size: 1rem;
        letter-spacing: 2px;
        
    }

    /***************************************** 
                Flickr Photos
    ******************************************/
    .grid-container{
        display: grid;
        grid-gap: 0.625rem;

    }

    .top{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 3rem;
        margin: 3rem;
        height: 250px;
        background: white;
        border-radius: 5px;
    }

    .top h1{
        font-size: 1.75rem;
        font-weight: 500;
    }

    #flickr-form{
        display: flex;
        flex-direction: row;
        height: 2rem;
    }

    #flickr-form input{
        margin: 0;
    }

    .flickr-label{
        font-weight: 100;
        padding-right: 1rem;
        letter-spacing: 1px;
        
    }

    #photos{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .flickr-thumbnail{
        list-style: none;
        width: 100%;
        height: 200px;
        border: 2px solid black;
        border-radius: 5px;
    }

    #photos img{
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 1024px){
    #main-form-div{
        grid-template-columns: 1fr 1fr;
    }

    #signup-form-container{
        grid-column: 2/3;
    }
}