html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    min-width: 100rem;
    min-height: 100rem;
}

.content {
    display: grid;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 8% 84% 8%;
}

.header {
    grid-column: 1/4;
}

.nav {
    grid-column: 4/6;
    grid-row: 1/2;
}

.main {
    grid-column: 1/6;
    background-image: url("../img/42_1.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    grid-column: 1/6;
}