/***************************************** 
                VARIABLES
******************************************/

:root {
    --myBlack: rgb(31, 30, 30);
    --myBlue: #005c99;
    --myGreen: rgb(10, 194, 10);
    --myWhite: rgb(219, 215, 215);
    --myGrey: rgb(155, 154, 154);
    --myYellow: #eebb2e;
}


/***************************************** 
                INDEX.HTML
******************************************/


/******* Base styles ********/

html, 
body {
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   font-size: 16px;
   background: linear-gradient(to bottom right, var(--myBlue), var(--myGreen, #fff));
   background-repeat: no-repeat;
   background-size: auto 25%;
}
img {
    width: 100%;
}
a {
  text-decoration: none;
}

/******* Grid Container ********/

.index-top {
   display: grid;
   grid-template-areas: 
    "header header ."
    "header header ."
}


/******* Header ********/
.index-header {
    grid-area: header;
    background: url(../img/chris2.jpg);
    min-height: 31.25rem;
    background-size: cover;
    background-position: center;
    padding: 3.125rem;
    margin-left: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 0 15px #000;
}

.index-header>* {
    background: var(--myYellow);
    padding: 0 0.625rem;
    border-radius: 4px;
    
}

/******* Navigation ********/

.index-main-nav-ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 1.25rem 0;
    padding-right: 0.625rem;
    list-style: none;
}

.index-main-nav-ul a {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 4px;
    text-align: center;
    padding: 0.625rem;
    background: var(--myYellow);
    border-radius: 4px;
    box-shadow: 2px 2px 10px #000;
    color: var(--myBlack);
}

/******* about section **********/

.index-about {
    display: grid;
    grid-gap: 20px;
    padding: 3.125rem;
    margin: 1.5rem auto;
    width: 50%;
    grid-template-columns: 500px 1fr;
    align-items: center;
    background: var(--myWhite);
    box-shadow: 0 0 10px #000;
    
}

.about-img {
    border-radius: 50%;
    box-shadow: 0 0 2px #000;

}

/******* footer ********/

.index-main-footer {
    grid-area: footer;
    background-color: var(--myBlack);
    text-align: center;
}

.index-main-footer>a {
    padding-top: 0.625rem;
}

.index-styles-footer {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: var(--myWhite);
}

.index-social-icon {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0.625rem 0.3125rem 0;
    background-color: #fff;
    border-radius: 75%
}


/***************************************** 
                BLOG.HTML
*****************************************/


/********** Base styles **********/

.blog-body {
    font-size: 1rem;
    background: linear-gradient(to bottom right, var(--myBlue), var(--myGreen, #fff));
    background-repeat: no-repeat;
}

/********** Wrapper ************/

.blog-wrapper {
    display: grid;
    grid-gap: 20px;
    
}

/********** Header ************/

.blog-top {
    display: grid;
    grid-template-areas: "header header ";

}

.blog-header {
    grid-area: header;
    background: url(../img/blog-my-mind.jpg);
    background-position: center;
    padding: 1.875rem;
    min-height: 12.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.blog-head-tag {
    background: var(--myYellow);
    font-weight: bold;
    padding: 5px;
}

/********** Navigation ************/

.blog-nav-ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 1.225rem 0;
    padding-right: 0.625rem;
    list-style: none;
}

.blog-nav-ul a {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .25rem;
    text-align: center;
    padding: 0.625rem;
    background: var(--myYellow);
    border-radius: 4px;
    box-shadow: 2px 2px 10px #000;
    color: var(--myBlack);
}


/********** Main Section ************/

.main-blog-wrap{
    display: grid;
    grid-gap: 5px;
    width: 60vw;
    margin: 0 auto;
    background: var(--myGrey);
    color: var(--myBlack);
    box-shadow: 2px 2px 10px #000;
}

.blog-main-content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auot-fit, minmax(400px 1fr));
    padding: 3.125rem;
}

/********** Blog Articles ************/

.blog-div{
    border: 1px solid #000;
    box-shadow:  2px 2px 10px #000;
    padding: 0.625rem;

}

.article-post {
    display: flex; 
    
    

}

.blog-img{
    padding: 1rem;
    width: 18.75rem;
    height: 15.63rem;
    
    
}

.article-header{
    padding: 0.9375rem;
    border-right: 2px solid gray;
    


    
}

.article-header-h2{
    margin: 0;
}

.article-content{
    
    padding: 0.9375rem;
   
}

.article-footer{
    
}

/********** footer ************/