/***************************************** 
                VARIABLES
******************************************/

:root {
    --myBlack: rgb(31, 30, 30);
    --myBlue: #005c99;
    --myWhite: rgb(219, 215, 215);
    --myGrey: rgb(155, 154, 154);
}


/***************************************** 
                INDEX.HTML
******************************************/


/******* Base styles ********/

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background: var(--myWhite);
    color: #fff;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center;
}

img {
    width: 100%;
}

h4,
h6 {
    margin: 0;
    padding: .75em 0;
    border-bottom: 1px solid var(--myBlack);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 1em 0;
}


/******* Grid Container ********/

#index-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


/******* Header ********/

#index-header {
    grid-area: header;
    letter-spacing: 1.5;
    color: var(--myBlack);
}

#index-h4 {
    padding: .5em;
    font-size: 1.5em;
}

.index-header-split {
    background: var(--myBlack);
    color: var(--myWhite);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
}


/******* Navigation ********/

#index-main-nav {
    grid-area: nav;
}

#index-main-nav>ul {
    /* letter-spacing: 1.5;
    line-height: 3;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    color: #000;
    background-color: var(--myGrey);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    text-decoration: none;
    list-style: none;
     opacity: .5; 
    padding: 0;
    margin: 0; */
}

.main-nav-list>a {
    padding: 2px 0;
    border-bottom: 2px solid var(--myBlack);
    /* border-top: 2px solid var(--myBlack); */
}


/******* Main img **********/

.index-main {
    grid-area: image;
    grid-row: 3/4;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    border-radius: 8px;
    padding: 0;
    margin: 0;
}


/******* footer ********/

#index-main-footer {
    grid-area: footer;
    grid-row: 4/5;
    display: block;
    background-color: var(--myBlack);
    margin: 0;
}

#index-main-footer>a {
    padding-top: 10px;
    grid-column: 1 / -1;
}

.index-styles-footer {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.index-respon-footer-copy {
    display: none;
}

.index-social-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 5px 0;
    background-color: #fff;
    border-radius: 75%
}


/***************************************** 
                BLOG.HTML
*****************************************/

#blog-grid-wrap {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    background-color: var(--myBlue);
}

#blog-main-header {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    background: var(--myBlack);
}

#blog-main-nav {
    margin: 1em 0;
}

#blog-nav-ul {
    letter-spacing: 1.5;
    line-height: 3;
    font-size: 0.75em;
    font-weight: 700;
    text-align: center;
    background-color: var(--myWhite);
    text-decoration: underline;
    border-radius: 8px;
    text-decoration: none;
    list-style: none;
    opacity: .5;
    padding-left: 0;
}

#blog-nav-ul>li>a {
    color: #000;
}

.blog-main-content {
    grid-column: 2/3;
    grid-row: 2/3;
}

.blog-post {
    background-color: royalblue;
}

.blog-post-header {
    background: var(--myBlack);
    margin-top: 1em;
}